@import "@rws-mixins";

.backdrop {
    position: fixed;    
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    cursor: pointer;
    z-index: 1001;
}

.rws-modal {
    position: fixed;    
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
    
    .rws-modal-wrapper{
        background: #FFF;
        border-radius: 20px;
        padding: 20px;
        max-width: 70vw;
        max-height: 80vh;
        margin: 30px auto 0 auto;
        color: #000;
        position: relative;
        z-index: 1002;
        overflow-y: auto;
        
        @include customScrollbars();

        .rws-modal-header{
            display: flex;
    
            justify-content: end;
        }
    
        .rws-modal-body{}
    }   
}